
body {
    background-color: burlywood;
    margin-top: 100px;
}


.box1 {
    width: 400px ;
    height: 155px;
    background-color: blanchedalmond;
    
}


.box2 {

    width: 85px;
    height: 20px;
    background-color: blanchedalmond;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    
}

.box3 {

width: 85px;
height: 20px;
background-color: blanchedalmond;;
float: right;
margin-right: 20px;
margin-left: 20px;
}

.box2 a:hover,.box3 a:hover { 
    color: black;


}

.box4, blockquote{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;


}

blockquote {
    width: 400px;
    height: 40px;
}

h1, h2 {
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

p{color: orangered;

}

.my-class {
    margin-top: 100px;
    
  }










